@import 'src/style/colors';
@import 'src/style/mobile';


nav {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;

    background-color: rgba($gray-dark, .8);
    height: 65px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 10px;
}

li {
    cursor: pointer;
    float: left;
    padding-top: 5px;

    &.logo {
        float: right;
    }

    &.active {
        a {
            color: $orange;
        }
    }

    &:focus {
        outline: 0;
    }
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 12px;
}

.tab-icon {
    height: 15px;
    margin: auto;
    display: block;
}

.logo-img {
    width: 130px;
    padding-top: 10px;
    padding-right: 20px;
}


.sub-nav {
    a {
        text-align: left;
        color: $gray-dark !important;
    }
}


.languages {
    position: absolute;
    right: 20px;
    top: 2px;
    
    .lang-entry {
        margin-left: 10px !important;
        font-size: 10px;
        cursor: pointer;
        color: white;

        &.active-lang {
            font-weight: bold;
            color: $orange;
        }
    }

}



/*----------------------------
	THE FAT BURGER
----------------------------*/
.burger {
	width: 35px;
	height: 32px;
	margin: auto;
	cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    z-index: 100;
    color: $gray-dark;

    &.cross {
        // background-color: white !important;
        &:before, &:after {
            background-color: white !important;
        }
    }
}

.burger:before, .burger span, .burger:after {
	width: 100%;
	height: 4px;
	display: block;
	background: $gray-dark;
	border-radius: 2px;
	position: absolute;
	opacity: 1;
}
.burger:before, .burger:after {
    transition: top .35s cubic-bezier(.23,1,.32,1),transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1);
	-webkit-transition: top .35s cubic-bezier(.23,1,.32,1),-webkit-transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1);
	content: "";
}
.burger:before {
	top: 4px;
}
.burger span {
	top: 15px;
}
.burger:after {
	top: 26px;
}
/* Hover */
.burger:hover:before {
	top: 7px;
}
.burger:hover:after {
	top: 23px;
}
/* Click */
.burger.cross span {
	opacity: 0;
}
.burger.cross:before, .burger.cross:after {
	top: 40%;
}
.burger.cross:before {
	-webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
}
.burger.cross:after {
	-webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5); /*for IE*/
}
.burger:focus {
	outline: none;
}


@media screen and (max-width: $mobile-break-point) { 
    .burger {
        display: inherit;
    }
    nav {
        display: none;
        position: fixed;
        height: 100%;

        &.mobileMenuOpen {
            display: inherit;
        }
        ul {
            margin-top: calc(50vh - 170px);
            display: grid;
            li {
                img {
                    display: none;
                }
            }
        }

        a {
            font-size: 24px;
        }
    }

    .logo-img {
        display: block !important;
        bottom: 15px;
        position: fixed;
        margin-left: 15px;
    }

    .languages {
        position: absolute;
        right: 20px;
        bottom: 0px;
        top: auto;
    }
}