@import 'src/style/colors';

$gray: slategray;

#software-development {
    margin-top: 80px;
    margin-bottom: 20px;

}

#web-development {
    margin-top: 50px;
    margin-bottom: 50px;

    .progressBarValue {
        background: $gray;
    }
}

#backend-development {
    margin-top: 50px;
    margin-bottom: 50px;

    .progressBarValue {
        background: $gray;
    }
}

#continous-delivery {
    margin-top: 50px;
    margin-bottom: 50px;
}

.entry {
    margin-top: 30px;
    margin-bottom: 50px;
    
    p {
        margin: 0;
        font-weight: light !important;
    }
}

.dev-title {
    // margin-left: 15px;
}


.progressBar {
	margin-bottom: 26px;
	margin-bottom: 1.66em;
}
.progressBar h4 {
	font-size: 16px;
	text-transform: none;
	margin-bottom: 7px;
	margin-bottom: .33em;
}
.progressBarcontent-container {
	width: 100%;
	height: 8px;
	background: #E1E1E1;
	overflow: hidden;
}
.progressBarValue {
	height: 8px;
	float: left;
	background: $gray;
}
.value-00 {
	width: 0;
}
.value-10 {
	width: 10%;
}
.value-20 {
	width: 20%;
}
.value-30 {
	width: 30%;
}
.value-40 {
	width: 40%;
}
.value-50 {
	width: 50%;
}
.value-60 {
	width: 60%;
}
.value-70 {
	width: 70%;
}
.value-80 {
	width: 80%;
}
.value-90 {
	width: 90%;
}
.value-100 {
	width: 100%;
}