<section id="software-development">
	<div class="uk-container">
		<h1>{{'services.dev.title' | translate}}</h1>

		<div class="row software-dev-row">
			<div class="col-md-12">
				<div class="entry">
					<p>
						{{'services.dev.descr' | translate}}
					</p>
				</div>
			</div>
			<div class="uk-child-width-expand@s" uk-grid>
				<div class="col">
					<h3>{{'services.dev.architecture.title' | translate}}</h3>
					<p>
						{{'services.dev.architecture.descr' | translate}}
					</p>
				</div>
				<div class="col">
					<h3>{{'services.dev.development.title' | translate}}</h3>
					<p>
						{{'services.dev.development.descr' | translate}}
					</p>
				</div>
				<div class="col">
					<h3>{{'services.dev.orchistration.title' | translate}}</h3>
					<p>
						{{'services.dev.orchistration.descr' | translate}}
					</p>
				</div>
			</div>

		</div>
	</div>
</section>


<section id="web-development">
	<div class="uk-container">
		<div>
			<h3 class="dev-title">{{'services.dev.skills.frontend_dev.title' | translate}}</h3>
			<div >
				<div class="progressBar">
					<h4>{{'services.dev.skills.frontend_dev.angular' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-90"></div>
					</div>
				</div>
				<div class="progressBar">
					<h4>{{'services.dev.skills.frontend_dev.typescript' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-80"></div>
					</div>
				</div>
				<div class="progressBar">
					<h4>{{'services.dev.skills.frontend_dev.css3' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-40"></div>
					</div>
				</div>
				<div class="progressBar">
					<h4>{{'services.dev.skills.frontend_dev.jquery' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-60"></div>
					</div>
				</div>
				<div class="progressBar">
					<h4>{{'services.dev.skills.frontend_dev.html5' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-70"></div>
					</div>
				</div>
				<div class="progressBar">
					<h4>{{'services.dev.skills.frontend_dev.ios' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-90"></div>
					</div>
				</div>

				<div class="progressBar">
					<h4>{{'services.dev.skills.frontend_dev.android' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-70"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




<section id="backend-development">
	<div class="uk-container">
		<div class="row">
			<h3 class="dev-title">{{'services.dev.skills.backend_dev.title' | translate}}</h3>
			<div class="col-md-12">
				<div class="progressBar">
					<h4>{{'services.dev.skills.backend_dev.ruby' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-90"></div>
					</div>
				</div>

				<div class="progressBar">
					<h4>{{'services.dev.skills.backend_dev.net_core' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-40"></div>
					</div>
				</div>
				<div class="progressBar">
					<h4>{{'services.dev.skills.backend_dev.java' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-60"></div>
					</div>
				</div>

				<div class="progressBar">
					<h4>{{'services.dev.skills.backend_dev.swift' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-60"></div>
					</div>
				</div>

				<div class="progressBar">
					<h4>{{'services.dev.skills.backend_dev.node' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-60"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>




<section id="continous-delivery">
	<div class="uk-container">
		<div class="row">
			<h3 class="dev-title">{{'services.dev.skills.devops.title' | translate}}</h3>
			<div class="col-md-12">
				<div class="progressBar">
					<h4>{{'services.dev.skills.devops.docker' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-90"></div>
					</div>
				</div>
				<div class="progressBar">
					<h4>{{'services.dev.skills.devops.gitlab' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-80"></div>
					</div>
				</div>
				<div class="progressBar">
					<h4>{{'services.dev.skills.devops.jenkins' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-40"></div>
					</div>
				</div>
				<div class="progressBar">
					<h4>{{'services.dev.skills.devops.github' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-60"></div>
					</div>
				</div>
				<div class="progressBar">
					<h4>{{'services.dev.skills.devops.fastlane' | translate}}</h4>
					<div class="progressBarcontent-container">
						<div class="progressBarValue value-70"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>