@import 'src/style/colors';
@import 'src/style/mobile';


.job-content {
    min-height: calc(100vh - 400px);

}
.back-btn {
    margin-top: 10px;
    margin-left: 155px;
    position: absolute;   
}

.spinner-content {
    margin-top: 40vh;
}

.not-avaliable {
    
    p {
        margin-top: 32vh;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media screen and (max-width: $mobile-break-point) { 

    .back-btn {
        display: none;
    }

}