<div class="mac-slideshow-content">
  <div class="mac-img" uk-lightbox #lightbox>
    <div>
      <ngui-in-view>
        <img *ngIf [src]="images[images_i].src" alt="screenshot" [@visibilityChanged]="images_visible" (load)="onScreenImgLoaded()"
        >
      </ngui-in-view>

      <ng-container *ngIf="screenImgLoaded">
        <div class="image-dots" *ngIf="images.length > 1">
          <div *ngFor="let p of images; let i = index;" class="img-dot" (click)="onDotClicked(i)" [class.active]="i === images_i"></div>
        </div>

        <a data-caption="Services" (click)="openLightbox()" [href]="images[images_i].src" class="fullscreen-href">
          <img class="fullscreen-btn" src="assets/icons/fullscreen.svg">
        </a>

      </ng-container>

    </div>

    <ng-container *ngFor="let p of images; let i = index;">
      <ng-container *ngIf="i !== images_i">
        <a [attr.href]="images[i].src" [attr.data-caption]="images[i].caption | translate"></a>
      </ng-container>
    </ng-container>
  </div>

</div>