<div class="mac-slideshow-content">
  <div class="mac-img" uk-lightbox>
    <a class="uk-button" [href]="images[images_i].src" data-caption="Services">
      <ngui-in-view>
        <img *ngIf [src]="images[images_i].src" alt="screenshot" [@visibilityChanged]="images_visible" (load)="onScreenImgLoaded()">
      </ngui-in-view>

      <ng-container *ngIf="screenImgLoaded">
        <div class="image-dots">
          <div *ngFor="let p of images; let i = index;" class="img-dot" [class.active]="i === images_i"></div>
        </div>
        <img class="fullscreen-btn" src="assets/icons/fullscreen.svg">
      </ng-container>

    </a>

    <ng-container *ngFor="let p of images; let i = index;">
      <ng-container *ngIf="i !== 0">
        <a [attr.href]="images[i].src" [attr.data-caption]="images[i].caption | translate"></a>
      </ng-container>
    </ng-container>
  </div>

</div>