@import 'src/style/colors';
@import 'src/style/mobile';


.mac-slideshow-content {
    margin-top: -17%;
}

.mac-img {
    background-image: url('/assets/provisioning/Mac_Produktseite.svg');
    background-repeat: no-repeat;
    background-position: center;
    //min-height: 200px;
   // width: 100%
   //height: 100%;


   width: 100%;
    height: 0;
    padding-bottom: #{((180 / 150) *100%)}; // img is: 1366x970
    position: relative;
   
    .uk-button {
        padding: 0;
    }
    img {
        position: relative;
        z-index: -1;
        padding-bottom: 0%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 22%;
        margin-top: 4px;
    }

    
}



.fullscreen-btn {
    float: right;
    margin-top: -35px !important;
    z-index: 100 !important;
    // background: transparent;
    // border: none;
    // margin-top: 25px;
    // margin-left: calc(100% - 40px);


    margin-left: calc(100% - 20px);
    padding-top: 115px;
    padding-bottom: 0px;
    position: absolute !important;
    right: -10px;
}


.image-dots {
    display: -webkit-inline-box;
    margin-top: 30%;
    margin-left: 0px;
    cursor: pointer;

    float: right;

    .img-dot {
        width: 10px;
        height: 10px;
        background-color: $gray-dark;
        opacity: 0.2;
        border-radius: 10px;
        margin-right: 10px;

        &.active {
            opacity: 1.0;
            background-color: $gray-dark;
        }
    }
}

@media screen and (max-width: $mobile-break-point) {  
    .fullscreen-btn {
        margin-top: -20px !important;
    }

    .mac-img {
        img {
            margin-top: 3px;
        }
    }
}