<div appNavSection id="provisioning" class="provisioning-content">


	<div class="provisioning-img-content">
		<img src="assets/provisioning/Produkt_Screen.png" alt="EasyProvisioning">
	</div>

</div>


<section id="provisioning-title" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 300">

	<div class="uk-container uk-container-xsmall">
		<p class="title extra-bold">{{ '_general.easyprovisioning' | translate }}</p>


		<div class="col uk-padding">
			<img src="assets/home/easy_provisioning.svg" alt="easy provisioning" class="provisioning-icon">
			<p class="provisioning-subtitle extra-bold">{{'services.isp.easyprov.header' | translate}}</p>
			<p class="provisioning-subtext bold">{{'services.isp.easyprov.subheader' | translate}}</p>
		</div>

	</div>


</section>



<section id="provisioning-overview" class="dark" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 300">
	<div class="uk-container">
		<div class="col uk-padding" uk-scrollspy="target: > img; cls:uk-animation-fade; delay: 300">
			<img src="assets/home/provisioning_cloud_white.svg" alt="acs-provisioning">
		</div>
	</div>
</section>




<section id="provisioning-provisioning" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 300"
 [class.showVideo]="showProvisioningVideoTabs">
	<div class="uk-container">

		<div class="section-content uk-child-width-expand@s" uk-grid>

			<div class="col uk-padding">
				<app-mac-slideshow [images]="images_provisioning" [startTimeout]="0"></app-mac-slideshow>
				<button *ngIf="!showProvisioningVideoTabs" (click)="showProvisioningVideoTabs = true" class="play-btn" type="button">
					<img src="assets/icons/play.svg">
					Play Videos
				</button>
			</div>

			<div class="col uk-padding">
				<p class="title extra-bold">{{'services.isp.easyprov.provisioning.title' | translate}}</p>

				<ul class="feature-list extra-bold">
					<li><span>{{'services.isp.easyprov.provisioning.feature1' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.provisioning.feature2' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.provisioning.feature3' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.provisioning.feature4' | translate}}</span></li>
				</ul>

				<p class="descr">{{'services.isp.easyprov.provisioning.descr' | translate}}
				</p>
			</div>


		</div>

	</div>


	<ng-container *ngIf="showProvisioningVideoTabs">


		<ul uk-tab>
			<li><a href="">{{'services.isp.easyprov.provisioning.remote-service' | translate}}</a></li>
			<li><a href="">{{'services.isp.easyprov.provisioning.bridge-service' | translate}}</a></li>
			<li><a href="">{{'services.isp.easyprov.provisioning.wlan-service' | translate}}</a></li>
			<li><a href="">{{'services.isp.easyprov.provisioning.voice-service' | translate}}</a></li>
		</ul>
		<ul class="uk-switcher">
			<li>
				<video controls playsinline uk-video>
					<source src="/assets/provisioning/videos/Fernzugriff Service.mov" type="video/mp4">
				</video>
			</li>
			<li>
				<video controls playsinline uk-video>
					<source src="/assets/provisioning/videos/Bridge Service.mov" type="video/mp4">
				</video>
			</li>
			<li>
				<video controls playsinline uk-video>
					<source src="/assets/provisioning/videos/Wifi Service.mov" type="video/mp4">
				</video>
			</li>
			<li>
				<video controls playsinline uk-video>
					<source src="/assets/provisioning/videos/Voice Service.mov" type="video/mp4">
				</video>
			</li>
		</ul>

	</ng-container>


</section>




<section id="provisioning-customer" class="gray" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 300"
 [class.showVideo]="showManagementVideoTabs">
	<div class="uk-container">
		<div class="section-content uk-child-width-expand@s" uk-grid>



			<div class="col uk-padding">
				<p class="title extra-bold">{{'services.isp.easyprov.management.title' | translate}}</p>

				<ul class="feature-list extra-bold">
					<li><span>{{'services.isp.easyprov.management.feature1' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.management.feature2' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.management.feature3' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.management.feature4' | translate}}</span></li>
				</ul>

				<p class="descr">{{'services.isp.easyprov.management.descr' | translate}}
				</p>
			</div>


			<div class="col uk-padding">
				<app-mac-slideshow [images]="images_customer" [startTimeout]="2000"></app-mac-slideshow>
				<button *ngIf="!showManagementVideoTabs" (click)="showManagementVideoTabs = true" class="play-btn" type="button">
					<img src="assets/icons/play.svg">
					Play Videos
				</button>
			</div>

		</div>



	</div>


	<ng-container *ngIf="showManagementVideoTabs">


		<ul uk-tab>
			<li><a href="">{{'services.isp.easyprov.management.docs-service' | translate}}</a></li>
		</ul>
		<ul class="uk-switcher">
			<li>
				<video controls playsinline uk-video>
					<source src="/assets/provisioning/videos/Docs.mov" type="video/mp4">
				</video>
			</li>
		</ul>

	</ng-container>
</section>






<section id="provisioning-ip" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 300" [class.parent-showVideo]="showManagementVideoTabs">
	<div class="uk-container">

		<div class="section-content uk-child-width-expand@s" uk-grid>

			<div class="col uk-padding">
				<app-mac-slideshow [images]="images_ip" [startTimeout]="4000"></app-mac-slideshow>
			</div>

			<div class="col uk-padding">
				<p class="title extra-bold">{{'services.isp.easyprov.ip.title' | translate}}</p>

				<ul class="feature-list extra-bold">
					<li><span>{{'services.isp.easyprov.ip.feature1' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.ip.feature2' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.ip.feature3' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.ip.feature4' | translate}}</span></li>
				</ul>

				<p class="descr">{{'services.isp.easyprov.ip.descr' | translate}}
				</p>
			</div>


		</div>

	</div>
</section>




<section id="provisioning-monitoring" class="gray" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 300">
	<div class="uk-container">
		<div class="section-content uk-child-width-expand@s" uk-grid>



			<div class="col uk-padding">
				<p class="title extra-bold">{{'services.isp.easyprov.monitoring.title' | translate}}</p>
				<div class="beta-tab">{{'services.isp.screenshot_titles.beta_tag' | translate}}</div>

				<ul class="feature-list extra-bold">
					<li><span>{{'services.isp.easyprov.monitoring.feature1' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.monitoring.feature2' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.monitoring.feature3' | translate}}</span></li>
					<li><span>{{'services.isp.easyprov.monitoring.feature4' | translate}}</span></li>
				</ul>

				<p class="descr">{{'services.isp.easyprov.monitoring.descr' | translate}}
				</p>
			</div>


			<div class="col uk-padding">
				<app-mac-slideshow [images]="images_monitoring" [startTimeout]="6000"></app-mac-slideshow>
			</div>

		</div>

	</div>
</section>


<!-- <section id="provisioning-video">
	<video controls playsinline uk-video>
		<source src="https://quirksmode.org/html5/videos/big_buck_bunny.mp4" type="video/mp4">
		<source src="https://quirksmode.org/html5/videos/big_buck_bunny.ogv" type="video/ogg">
	</video>
</section> -->