<div class="consulting-content" >
		<section id="consulting">
				<div class="uk-container">
					<h1 >{{'services.consulting.title' | translate}}</h1>
			
					<div class="row">
			
						<div class="col">
							<div class="entry">
								<p class="entry-text">{{'services.consulting.descr1' | translate}}</p>
								<p class="entry-text">{{'services.consulting.descr2' | translate}}</p>
			
								<p class="entry-text">{{'services.consulting.support.title' | translate}}</p>
			
								<ol>
									<li>{{'services.consulting.support.1' | translate}}</li>
									<li>{{'services.consulting.support.2' | translate}}</li>
									<li>{{'services.consulting.support.3' | translate}}</li>
									<li>{{'services.consulting.support.4' | translate}}</li>
									<li>{{'services.consulting.support.5' | translate}}</li>
								</ol>
							</div>
			
						</div>
			
					</div>
			
				</div>
			</section>
			
			<section id="references" >
				<div class="uk-container">
					<h1 >{{'_general.references' | translate}}</h1>
					<div class="row references-row">
	
						<div class="col-md-12 reference-column"> 
							<a [href]="'http://www.netcon.at'">
								<img  src="/assets/partners/netcon_logo.svg" class="image" alt="Netcon IT solutions GmbH" />
							</a> 
							
						</div>
					</div>
				</div>
			</section>
</div>
