<section id="impressum">

	<div class="uk-container">

		<div class="row">
			<h1 class="bold">{{'impressum.title' | translate}}</h1>


			<p class="e-commerce semi-bold">{{'impressum.ecommerce' | translate}}</p>

			<div class="entry">
				<p>{{ '_general.easysolutions' | translate }}</p>
				<p>{{'contact.company.street' | translate}}</p>
				<p>{{'contact.company.area' | translate}}</p>
				<p>{{'contact.company.state' | translate}}</p>
			</div>

			<div class="entry">
				<p>{{'impressum.commercial_register' | translate}}: Landesgericht Wels</p>
				<p>{{'impressum.commercial_nr' | translate}}: -</p>
				<p>{{'impressum.uid' | translate}}: ATU62916009</p>
				<!-- <p>DVR: -</p> -->
			</div>

			<div class="entry">
				<p>{{'impressum.managing_directors' | translate}}: </p>
				<p>Christian Aichinger</p>				
			</div>

			<div class="entry">
				<p>{{'impressum.phone' | translate}}: +43(0) 720 900 100</p>
				<p>{{'impressum.mail' | translate}}: <a [href]="'mailto:office@netcon.at'" target="_top">{{'contact.company.mail' | translate}}</a></p>
			</div>

			<div class="entry">
				<p>{{'impressum.association1' | translate}}</p>
				<p>{{'impressum.association2' | translate}}</p>
				<p>{{'impressum.association3' | translate}}</p>
				<p>{{'impressum.association4' | translate}}</p>
			</div>


		</div>
	</div>
</section>