<section id="impressum">

	<div class="uk-container">

		<div class="row">
			<h1 class="bold">{{'impressum.title' | translate}}</h1>


			<p class="e-commerce semi-bold">{{'impressum.ecommerce' | translate}}</p>

			<div class="entry">
				<p>EasySolutions GmbH</p>
				<p>Gugenedt 2</p>
				<p>4741 Wendling</p>
				<p>Austria</p>
			</div>

			<div class="entry">
				<p>{{'impressum.commercial_register' | translate}}: Landesgericht Wels</p>
				<p>{{'impressum.commercial_nr' | translate}}: FN 477395 b</p>
				<p>{{'impressum.uid' | translate}}: ATU72614236</p>
				<!-- <p>DVR: -</p> -->
			</div>

			<div class="entry">
				<p>{{'impressum.managing_directors' | translate}}: </p>
				<p>Robert Wurm, BSc</p>
				<p>Mathias Aichinger, BSc</p>
				<p>Christian Aichinger</p>				
			</div>

			<div class="entry">
				<p>{{'impressum.phone' | translate}}: +43(0) 720 900 100</p>
				<p>{{'impressum.mail' | translate}}: <a href="mailto:office@easysol.at">office@easysol.at</a></p>
			</div>

			<div class="entry">
				<p>{{'impressum.association1' | translate}}</p>
				<p>{{'impressum.association2' | translate}}</p>
				<p>{{'impressum.association3' | translate}}</p>
				<p>{{'impressum.association4' | translate}}</p>
			</div>


		</div>
	</div>
</section>