
#impressum {
    margin-top: 80px;
    margin-bottom: 20px;
    min-height: calc(100vh - 546px);
}

.e-commerce {
    font-weight: bold !important;
}


.entry {
    margin-top: 30px;
    p {
        margin: 0;
        // font-weight: light !important;
    }
}


a {
    text-decoration: underline;
}