$orange: rgb(250, 180, 40);
$gray-light: rgb(130,130,120);
$gray-lighter: rgb(245, 245, 245); 
$gray-dark: rgb(70,70,70);



$border-color-light: #e0e0e0;
$border-color-dark: #5E5E5E;
$gray: slategray;
$background-color-light-hover: rgba(158,158,158,0.1);
