
@font-face {
    font-family: 'Rubik-Light';
    src: url('/assets/fonts/Rubik/Rubik-Light.ttf');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('/assets/fonts/Rubik/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('/assets/fonts/Rubik/Rubik-Bold.ttf');
}



body {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}


.extra-bold {
    // font-family: "Montserrat-ExtraBold";
    font-weight: 800;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.bold {
    //font-family: "Montserrat-Bold";
    font-weight: 600;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;  
}

.medium {
    font-weight: 500;
    //font-family: "Montserrat-Medium";
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.rubik-light {
   font-family: "Rubik-Light";
   
   &.uppercase {
    letter-spacing: 2px;
    text-transform: uppercase;
   }
}

.rubik-medium {
    font-family: "Rubik-Medium";
    letter-spacing: 2px;

    &.uppercase {
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.rubik-bold {
    font-family: "Rubik-Bold";
    letter-spacing: 2px;

    &.uppercase {
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}



.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
}