
@import 'src/style/fonts';
@import 'src/style/colors';
@import 'src/style/mobile';



body {
    color: $gray-dark
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    color: $gray-dark !important;
}

.mat-icon-btn {
    background: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
        border: none;
    }
}

a {
    &:focus {
        outline: none;
        border: none;
    }
}


section {
    // color: $gray-dark;
    // color: $gray-light;

    margin-top: 20px;
    &.dark {
        color: #ffffff;
        background-color: $orange;

        hr {
            color: #ffffff;
            background-color: #ffffff;
        }
    }


    &.gray {
        color: $gray-dark;
        background-color: $gray-lighter;

        hr {
            color: $gray-dark;
            background-color: $gray-dark;
        }
    }



    .title {
        text-align: left;
        font-size: 30px;
        padding-left: 20px;
        line-height: 0;
        margin-top: 80px;

        &.right {
            text-align: right;
            padding-right: 20px;

        }
    }

    hr {
        height: 7px;
        color: $orange;
        background-color: $orange;
        border: none;
        margin-left: 20px;

        &.right {
            margin-right: 20px;
        }
    }

    .section-content {
        padding: 25px;

        margin-top: 0;
        padding-top: 0;

        .title {
            font-size: 30px;
        }
    
        .subtitle {
            font-size: 16px;
            margin-top: -20px;    
        }
    }

    .descr {
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
    }
}


section {
    // https://bennettfeely.com/clippy/
    &.polygon-XXxx {
        -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    }


    &.polygon-xxXX {
        -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 85%);
        clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 85%);
    }


    &.polygon-XxxX {
        -webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
        clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
    }

    &.polygon-xXXX {
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }

    &.dark-bkgr {
        background-color: $gray-lighter;
    }

    &.light-bkgr {
        background-color: white;
    }
}

.youtube-container {
    height: 550px;
    padding-top: 100px;
    padding-bottom: 100px;


    iframe {
        margin: auto;
        display: block;
        height: 100%;
        max-width: 978px;
    }
}




@media screen and (max-width: $mobile-break-point) {
    .youtube-container {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;

        iframe {
            margin: auto;
            display: block;
            height: 70vh;
            max-width: 70vh;
        }
    }

    section {
        .title {
            font-size: 18px;
        }

        .section-content {
            margin-top: 25px;
            padding: 25px;
    
            .title {
                font-size: 18px;
            }
        
            .subtitle {
                font-size: 14px;
                margin-top: -20px;    
            }
    
        }

        .descr {
            font-size: 12px;
            font-weight: 400;
        }

        &.polygon-XXxx {
            -webkit-clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
            clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
        }

        &.polygon-xxXX {
            -webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
            clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
        }

        &.polygon-XxxX {
            -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
            clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
        }

        &.polygon-xXXX {
            -webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
        }

    }
}

.uk-tab>*>a {
    font-weight: 600;
}
.uk-tab>.uk-active>a {
    border-color: $orange !important;
    border-width: 4px;
    font-weight: 800;
}