<section id="termsOfUse">
	<div class="uk-container">
		<h1 class="bold">{{'terms.title' | translate}}</h1>
		<div uk-grid class="uk-child-width-expand@s">

			<div class="col">
				<div class="termsOfUse-entry">
					<p class="termsOfUse-title bold">{{'terms.legal_notice.title' | translate}}</p>
					<p class="termsOfUse-text">{{'terms.legal_notice.text0' | translate}}</p>
				</div>

				<div class="termsOfUse-entry">
					<p class="termsOfUse-title bold">{{'terms.disclaimer.title' | translate}}</p>
					<p class="termsOfUse-text">{{'terms.disclaimer.text' | translate}}</p>
				</div>

			</div>


			<div class="col">
				<div class="termsOfUse-entry">
					<p class="termsOfUse-title bold">{{'terms.legal_notice.title' | translate}}</p>
					<p class="termsOfUse-text">{{'terms.legal_notice.text1' | translate}}</p>
					<p class="termsOfUse-text">
						{{'terms.legal_notice.text2' | translate}}
						<a href="mailto:office@easysol.at">office@easysol.at</a>.</p>
					<p class="termsOfUse-text">
						{{'terms.legal_notice.text3' | translate}}
					</p>
				</div>
			</div>


			<div class="col">
				<div class="termsOfUse-entry">
					<p class="termsOfUse-title bold">{{'terms.google_analytics.title' | translate}}</p>
					<p class="termsOfUse-text">{{'terms.google_analytics.text1' | translate}}
						(<a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>)
						{{'terms.google_analytics.text2' | translate}}</p>
					<p class="termsOfUse-text">
							{{'terms.google_analytics.text3' | translate}} </p>
					<p class="termsOfUse-text">
							{{'terms.google_analytics.text4' | translate}} <a href="https://www.google.de/intl/de/policies/">https://www.google.de/intl/de/policies/</a>.</p>
				</div>
			</div>


		</div>
	</div>
</section>