
#termsOfUse {
    margin-top: 80px;
    margin-bottom: 20px;
    min-height: calc(100vh - 480px);
}

.termsOfUse-entry {

}

.termsOfUse-title {
    font-weight: bold !important;
    margin-top: 30px;
}

.termsOfUse-text {
    font-weight: 300 !important;
    margin-top: 30px;
}

a {
    text-decoration: underline;
}