<div appNavSection id="home" class="home-content">


  <div class="home-img-content">
    <div class="home-img-wrapper">
      <img src="assets/home/startseite.png" (load)="onLoadHomeEnded()" [class.loaded]="homeImgLoaded">
    </div>
    <div class="home-img-loader">
      <easy-loading-spinner [showSpinner]="!homeImgLoaded" [title]="''"></easy-loading-spinner>
    </div>

    <div class="head-line">
      <p class="your-partner rubik-light uppercase">{{ 'home.headline.yourpartner' | translate}}</p>
      <p class="network-solutions rubik-light uppercase">{{ 'home.headline.networksolutions' | translate}}</p>
      <p class="read-more rubik-light uppercase" [routerLink]="''" [fragment]="'services'">{{ '_general.readmore' |
        translate}}</p>

    </div>

  </div>


</div>

<div class="start-icons-container" [class.home-img-not-loaded]="!homeImgLoaded">

  <div class="uk-container">


    <div class="section-content uk-child-width-expand@s uk-text-center" uk-grid>

      <!-- software -->
      <div class="col uk-padding left">
        <img src="assets/home/icon_software.svg" alt="software">

        <p class="service-title rubik-medium">{{'services.software.title' | translate}}</p>
        <p class="service-subtitle rubik-light">{{ 'services.software.subtitle' | translate }}</p>
      </div>




      <!-- hardware -->
      <div class="col uk-padding center">
        <img src="assets/home/icon_hardware.svg" alt="hardware">

        <p class="service-title rubik-medium">{{'services.hardware.title' | translate}}</p>
        <p class="service-subtitle rubik-light">{{ 'services.hardware.subtitle' | translate }}</p>
      </div>



      <!-- consulting -->
      <div class="col uk-padding right">
        <img src="assets/home/icon_consulting.svg" alt="consulting">

        <p class="service-title rubik-medium">{{'services.consulting.title' | translate}}</p>
        <p class="service-subtitle rubik-light">{{ 'services.consulting.subtitle' | translate }}</p>
      </div>

    </div>

  </div>
</div>



<section appNavSection id="services">
  <div class="uk-container">


    <!-- <p class="title bold">{{'services.title' | translate}}</p>
    <hr> -->

    <div class="services-container">

      <!-- docsis -->
      <div class="service docsis">
        <p class="service-title rubik-bold uppercase">{{'services.docsis.title' | translate}}</p>
        <p class="service-subtitle rubik-light">{{ 'services.docsis.subtitle' | translate }}</p>

        <div class="more-btn rubik-light uppercase" [routerLink]="''" [fragment]="'docsis'">
          <p>{{ '_general.more_short' | translate }}</p>
        </div>
      </div>


      <!-- fiber -->
      <div class="service fiber">
        <p class="service-title rubik-bold uppercase">{{'services.fiber.title' | translate}}</p>
        <p class="service-subtitle rubik-light">{{ 'services.fiber.subtitle' | translate }}</p>

        <div class="more-btn rubik-light uppercase" [routerLink]="''" [fragment]="'fiber'">
          <p>{{ '_general.more_short' | translate }}</p>
        </div>
      </div>

      <!-- fritzbox -->
      <div class="service fritzbox">
        <p class="service-title rubik-bold uppercase">{{'services.fritzbox.title' | translate}}</p>
        <p class="service-subtitle rubik-light">{{ 'services.fritzbox.subtitle' | translate }}</p>

        <div class="more-btn rubik-light uppercase" [routerLink]="''" [fragment]="'fritzbox'">
          <p>{{ '_general.more_short' | translate }}</p>
        </div>
      </div>


    </div>







    <div class="section-content uk-child-width-expand@s uk-text-center" uk-grid uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 300">






    </div>
    <div class="scroll-down-content">
      <button type="button" class="round-btn orange" [routerLink]="''" [fragment]="'docsis'">
        Scroll Down
      </button>

      <!-- <ngui-in-view>
        <img *ngIf src="assets/arrow_down.svg" alt="down">
      </ngui-in-view> -->
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 46.94 26.89">
        <defs>
          <style>
            .cls-1,
            .cls-3 {
              fill: none;
            }

            .cls-2 {
              clip-path: url(#clip-path);
            }

            .cls-3 {
              stroke: #fab428;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 7.35px;
            }
          </style>
          <clipPath id="clip-path" transform="translate(0 0)">
            <rect class="cls-1" width="46.94" height="26.89" />
          </clipPath>
        </defs>
        <title>arrow_down</title>
        <g id="Ebene_2" data-name="Ebene 2">
          <g id="provisioning_Bild" data-name="provisioning Bild">
            <g class="cls-2">
              <polyline class="cls-3" points="3.67 3.67 23.47 23.21 43.27 3.67" />
            </g>
          </g>
        </g>
      </svg>


    </div>
  </div>

</section>


<section appNavSection id="docsis" class="dark-bkgr">
  <div class="uk-container">
    <p class="title rubik-bold uppercase">{{'services.docsis.title' | translate}}</p>
    <hr [style.max-width]="'130px'">

    <div class="section-content uk-child-width-expand@s" uk-grid>
      <div [class.col]="!mobileMode" [class.uk-padding]="!mobileMode">

        <p class="descr">
          {{ 'services.docsis.descr1' | translate }}
          <br>
          <br>
          {{ 'services.docsis.descr2' | translate }}
        </p>
      </div>

      <div class="product-col" [class.col]="!mobileMode" [class.uk-padding]="!mobileMode">
        <ngui-in-view class="img-wrapper" #wrapper>
          <img *ngIf src="assets/home/docsis.png">
        </ngui-in-view>

        <div *ngIf="wrapper.inView" class="huawei-docsis-img"></div>

      </div>
    </div>

  </div>
</section>



<section appNavSection id="fiber" class="light-bkgr">
  <div class="uk-container">


    <p class="title right rubik-bold uppercase">{{'services.fiber.title' | translate}}</p>
    <hr class="right">
    <hr class="right overlay-hr" [style.max-width]="'calc(100% - 140px)'">




    <div class="section-content uk-child-width-expand@s" uk-grid>



      <div class="product-col" [class.col]="!mobileMode" [class.uk-padding]="!mobileMode">
        <ngui-in-view class="img-wrapper" #wrapper>
          <img *ngIf src="assets/home/huawei_s5700.png">
        </ngui-in-view>
        <div *ngIf="wrapper.inView" class="huawei_s5700-img"></div>


        <ngui-in-view class="img-wrapper huawei-gpon" #wrapper2>
          <img *ngIf src="assets/home/huawei_gpon.png">
        </ngui-in-view>
        <div *ngIf="wrapper2.inView" class="huawei_gpon-img"></div>


      </div>

      <div [class.col]="!mobileMode" [class.uk-padding]="!mobileMode" style="padding-right: 0">

        <ul class="feature-list extra-bold">
          <li><span>PTP ETHERNET</span></li>
          <li><span>GPON</span></li>
        </ul>

        <p class="descr">
          {{ 'services.fiber.descr1' | translate }}
        </p>
      </div>

    </div>

  </div>
</section>




<section appNavSection id="fritzbox" class="dark-bkgr">
  <div class="uk-container">
    <p class="title rubik-bold uppercase">{{'services.fritzbox.title' | translate}}</p>
    <hr [style.max-width]="'180px'">

    <div class="section-content uk-child-width-expand@s" uk-grid>
      <div [class.col]="!mobileMode" [class.uk-padding]="!mobileMode">

        <p class="descr">
          {{ 'services.fritzbox.descr1' | translate }}
          <br>
          <br>
          {{ 'services.fritzbox.descr2' | translate }}
        </p>



        <div class="more-content">
          <a class="fritz-btn rubik-light" [href]="'https://www.fritzshop.at'" target="_blank">
            {{ '_general.fritzshop' | translate }}
          </a>
        </div>

      </div>

      <div class="product-col" [class.col]="!mobileMode" [class.uk-padding]="!mobileMode">
        <ngui-in-view class="img-wrapper" #wrapper>
          <img *ngIf src="assets/home/fritzbox.png">
        </ngui-in-view>

        <div *ngIf="wrapper.inView" class="fritz6490-img"></div>

      </div>
    </div>

  </div>
</section>




<section appNavSection id="provisioning" class="light-bkgr">
  <div class="uk-container">


    <p class="title right rubik-bold uppercase">{{'_general.easyprovisioning' | translate}}</p>
    <hr class="right">
    <hr class="right overlay-hr" [style.max-width]="'calc(100% - 355px)'">




    <div class="section-content uk-child-width-expand@s" uk-grid>



      <div class="product-col" [class.col]="!mobileMode" [class.uk-padding]="!mobileMode">
        <ngui-in-view class="img-wrapper" #wrapper>
          <img *ngIf src="assets/home/Clud_orange.png">
        </ngui-in-view>


        <div class="section-content uk-child-width-expand@s" uk-grid style="margin-top: 20px">

          <ul class="feature-list">
            <li><span>{{'services.isp.easyprov.provisioning.feature1' | translate}}</span></li>
            <li><span>{{'services.isp.easyprov.provisioning.feature2' | translate}}</span></li>
            <li><span>{{'services.isp.easyprov.provisioning.feature3' | translate}}</span></li>
            <li><span>{{'services.isp.easyprov.provisioning.feature4' | translate}}</span></li>
          </ul>

          <ul class="feature-list">
            <li><span>{{'services.isp.easyprov.ip.feature1' | translate}}</span></li>
            <li><span>{{'services.isp.easyprov.ip.feature2' | translate}}</span></li>
            <li><span>{{'services.isp.easyprov.ip.feature3' | translate}}</span></li>
            <li><span>{{'services.isp.easyprov.ip.feature4' | translate}}</span></li>
          </ul>

        </div>


        <div class="section-content uk-child-width-expand@s" uk-grid style="margin-top: -20px">


          <ul class="feature-list">
            <li><span>{{'services.isp.screenshot_titles.monitoring' | translate}}</span></li>
            <li><span>{{'services.isp.screenshot_titles.ip_management' | translate}}</span></li>
            <li><span>{{'services.isp.easyprov.monitoring.feature3' | translate}}</span></li>
            <li><span>{{'services.isp.easyprov.management.feature4' | translate}}</span></li>
          </ul>

          <ul class="feature-list">
            <li><span>{{'services.isp.easyprov.management.feature1' | translate}}</span></li>
            <li><span>{{'services.isp.easyprov.management.feature2' | translate}}</span></li>
            <li><span>{{'services.isp.easyprov.management.feature3' | translate}}</span></li>
            <li><span>{{'services.isp.easyprov.management.feature4' | translate}}</span></li>
          </ul>


        </div>

        <div class="more-content">
          <a class="fritz-btn rubik-light" [href]="'https://easysol.at/services/isp-services'" target="_blank">
            {{ '_general.more' | translate }}
          </a>
        </div>


      </div>

      <div [class.col]="!mobileMode" [class.uk-padding]="!mobileMode" style="padding-right: 0">



        <p class="descr">
          {{ 'services.isp.descr1' | translate }}
          {{ 'services.isp.descr2' | translate }}

          {{ 'services.isp.descr1' | translate }}
          {{ 'services.isp.descr2' | translate }}
        </p>


      </div>

    </div>



  </div>


</section>



<section appNavSection id="partner">
  <div class="uk-container">


    <p class="title rubik-medium uppercase">{{'_general.references' | translate}}</p>
    <hr>




    <ul class="uk-child-width-1-5@m " uk-grid>
      <!-- <li>
                <img style="margin-top: 72px; 
                margin-left: 0;
                height: 40px; 
                padding-left: 0;
                padding-right: 0;"
                  src="assets/partners/kabelplus.png" alt="">
                <div class="uk-position-center uk-panel"></div>
              </li> -->



      <li style="margin-top: 145px;">
        <ngui-in-view>
          <img *ngIf src="assets/partners/EasysolutionsLogo.png" alt="">
        </ngui-in-view>
        <div class="uk-position-center uk-panel"></div>
      </li>

      <li style="margin-top: 55px; opacity: 0.6;">
        <ngui-in-view>
          <img *ngIf src="assets/partners/mikrotik_logo.png">
        </ngui-in-view>
        <div class="uk-position-center uk-panel"></div>
      </li>

      <li style="margin-top: 0px; opacity: 0.6;">
        <ngui-in-view>
          <img *ngIf src="assets/partners/avm_logo.png" alt="" style="margin-left: 53px;">
        </ngui-in-view>

        <div class="uk-position-center uk-panel"></div>
      </li>



      <li style="margin-top: 55px; opacity: 0.6;">
        <ngui-in-view>
          <img *ngIf src="assets/partners/huawei_logo.png" alt="" style="height: 65px">
        </ngui-in-view>
        <div class="uk-position-center uk-panel"></div>
      </li>


      <li style="margin-top: 120px; opacity: 0.8;">
        <ngui-in-view>
          <img *ngIf src="assets/partners/Ubiquiti.png" alt="" style="height: 100px;     margin-left: 40px;">
        </ngui-in-view>

        <div class="uk-position-center uk-panel"></div>
      </li>


    </ul>


  </div>
</section>


<section appNavSection id="about-us">

  <div class="about-us-container">

    <div class="about-us-text">
      <p class="title rubik-medium uppercase">{{'about_us.title' | translate}}</p>
      <hr>


      <p class="descr">{{'about_us.company_descr_1' | translate}}</p>
      

      <div class="features uk-text-center">

          <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid
            uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 300">
    
            <div class="feature uk-padding uk-text-center">
                <ngui-in-view>
                  <img *ngIf src="assets/home/vielseitig.svg">
                </ngui-in-view>
                <p class="feature-title bold">{{'about_us.charac.allround.title' | translate}}</p>
                <p class="feature-descr descr">{{'about_us.charac.allround.descr' | translate}}</p>
              </div>
    
    
            <div class="feature uk-padding uk-text-center">
              <ngui-in-view>
                <img *ngIf src="assets/home/flexibel.svg">
              </ngui-in-view>
              <p class="feature-title bold">{{'about_us.charac.flexible.title' | translate}}</p>
              <p class="feature-descr descr">{{'about_us.charac.flexible.descr' | translate}}</p>
            </div>
    
    
            <div class="feature uk-padding uk-text-center">
              <ngui-in-view>
                <img *ngIf src="assets/home/qualitativ.svg">
              </ngui-in-view>
              <p class="feature-title bold">{{'about_us.charac.quality.title' | translate}}</p>
              <p class="feature-descr descr">{{'about_us.charac.quality.descr' | translate}}</p>
            </div>
    
            
    
          </div>
        </div>

    </div>


    


    <ngui-in-view class="img-wrapper" #wrapper>
      <img *ngIf src="assets/home/about_us.png" class="about-us-img">
    </ngui-in-view>


    


  </div>
</section>









<section appNavSection id="contact">

    <div class="contact-banner">
        <div class="uk-container">
          <p class="contact-us-now rubik-medium uppercase">{{ 'contact.company.now' | translate }}</p>
      
      
      
      
          <div class="more-content">
            <a class="fritz-btn rubik-light" [href]="'mailto:office@netcon.at'" target="_top">
              <p>{{ 'CONTACT US' | translate }}</p>
            </a>
          </div>
      
        </div>
      </div>

  <div class="uk-container">


    <div class="section-content uk-child-width-expand@s uk-text-center" uk-grid uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 300">

      <div class="col uk-padding contact-content" style="padding-top: 70px;">

        <p class="head-office-title rubik-medium">OFFICE</p>
        <div class="office-address">
          <p>{{'_general.easysolutions' | translate}}</p>
          <p>{{'contact.company.street' | translate}}</p>
          <p>{{'contact.company.area' | translate}}</p>
          <p>{{'contact.company.state' | translate}}</p>
        </div>
        <div class="office-contact">
          <p>{{'contact.company.phone' | translate}}</p>
          <div style="display: flex">
            <p>Mail:</p><a style="margin-left: 5px" [href]="'mailto:office@netcon.at'" target="_top">{{'contact.company.mail' | translate}}</a>
          </div>
        </div>



      </div>


      <div class="col">

      </div>

      <app-company-location-map *ngIf="displayDetector.getDeviceType() === displayType.Desktop" [height]="'200px'"></app-company-location-map>

    </div>
  </div>
</section>