@import 'src/style/colors';
@import 'src/style/mobile';

.home-content {
    background-color: #ffffff;
}

.home-img-content {

    .head-line {
        color: white;
        width: 500px;
        margin-left: calc((100vw - 500px) /2);
        position: absolute;
        text-align: center;
        margin-top: -30vw;

        .your-partner {
            font-size: 12px;
            font-weight: 100;
            opacity: 0.7;
        }

        .network-solutions {
            font-size: 50px;
            line-height: 1;
        }

        .read-more {
            margin-top: 25px;
            font-size: 16px;
            font-weight: 100;
            opacity: 0.7;
            border: solid 1px white;
            border-radius: 10px;
            padding: 10px;
            position: initial;
            margin: auto;
            width: 200px;
            cursor: pointer;
        }
    }
    

    // http://andyshora.com/css-image-container-padding-hack.html
    .home-img-wrapper {
        width: 100%;
        height: 0;
        padding-bottom: #{((740 / 1366) *100%)}; // img is: 1366x970
        //border: 2px solid red;
        background-color: #fafafa;
        position: relative;

        img {
            width: 100%;
            position: absolute;
            filter: blur(4px);

            &.loaded {
                filter: blur(0);
            }
        }
    }

    .home-img-loader {
        position: absolute;
        top: calc(50vh - 20px);
        margin-left: calc(50vw - 26px);
    }
}


.start-icons-container {

    &.home-img-not-loaded {
        opacity: 0;
    }

    .backround-icons{
        position: absolute;
        z-index: -1;
        margin-top: -10%;
    }
    .col {
        z-index: 1;
        text-align: center;

        &.left,&.right {
            margin-top: -45px;
        }

        &.center {
            margin-top: -8px;
        }

        img, svg {
            width: 35%;
            max-height: 125px;
            margin: auto;
            display: block;
            
            &:focus {
                outline: 0;
            }
            
        }

        .service-title {
            text-transform: uppercase;
        }

        .service-subtitle {
            font-size: 14px;
            color: $gray-light;
        }

        
    }
}


#services {
    padding-top: 100px;

    .section-content {
        margin-left: 0px;
    }
    
    .services-container {
        display: flex;
        margin: auto;
        width: 670px;

        .service {
            margin: 3px;
            background-size: cover;
            background-repeat: no-repeat;
            width: 220px;
            height: 220px;

            &.docsis {
                background-image: url("/assets/home/preview_docsis.png");
            }

            &.fiber {
                background-image: url("/assets/home/preview_fiber.png");
            }

            &.fritzbox {
                background-image: url("/assets/home/preview_fritz.png");
            }

            .service-title {
                color: white;
                font-size: 18px;
                width: 100%;
                text-align: center;
                margin-top: calc(50% - #{18px / 2}); // font-size
            }

            .service-subtitle {
                display: none;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                font-size: 14px;
            }

            .more-btn {
                background: black;
                color: white;
                display: none;
                font-size: 12px;
                padding: 0;
                padding-top: 10px;
                width: 85px;
                border-radius: 5px;
                height: 25px;
                margin: auto;
                text-align: center;
                position: relative;
                bottom: 5px;
                cursor: pointer;
                p {
                    margin-top: -1px;
                }
            }


            &:hover {
                .service-title { 
                    color: black;
                    margin-top: 40px;
                }

                .service-subtitle {
                    display: inherit;
                    color: black;
                    margin-top: 25px;
                }

                .more-btn {
                    display: inherit;
                }
            }
        }
           

    }
    
    .col {
        text-align: center;
        cursor: pointer;


        


        // img, svg {
        //     width: 35%;
        //     margin: auto;
        //     display: block;
        //     transition: transform .2s;

        //     &:focus {
        //         outline: 0;
        //     }
            
        // }

    }

    .scroll-down-content {
        button {
            margin: auto;
            display: block;
            &:focus {
                outline: 0;
            }
        }
        img, svg {
            width: 40px;
            margin: auto;
            display: block;
            margin-top: 70px;
        }
    }
}


#docsis {
    margin-top: 100px;
    .title {
        text-align: left;
        padding-left: 25px;
    }

    .img-wrapper {
            
        width: calc(100% - 40px);
        height: 0;
        margin-left: 50px;
        position: relative;

        img {
            width: 100%;
            position: absolute;
        }
    }

    .huawei-docsis-img {
        margin-left: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("/assets/home/huawei_docsis.svg");
        margin-top: 140px;
        height: 50px;
    }
}


#fiber {
    padding-top: 20px;
    hr {
        &.overlay-hr {
            margin-top: -27px;
            color: white;
            background-color: white;
        }
    }

    .product-col {
        margin-top: -115px;
    }

    ul.feature-list { 
        right: 0;
        float: right;
        margin-top: -50px;
    }

    .huawei-gpon {
        margin-top: 30px;
    }

    .huawei_s5700-img {
        margin-top: -20px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("/assets/home/huawei_s5700_title.svg");
        height: 70px;
        margin-left: -100px;
    }

    .huawei_gpon-img {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("/assets/home/huawei_gpon_title.svg");
        height: 50px;
    }
}


#fritzbox {
    margin-top: 100px;
    .title {
        text-align: left;
        padding-left: 25px;
    }

    .img-wrapper {
            
        width: calc(100% - 40px);
        height: 0;
        margin-left: 50px;
        position: relative;

        img {
            width: 100%;
            position: absolute;
        }
    }

    .fritz6490-img {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("/assets/home/fritz6490.svg");
        margin-top: 190px;
        height: 60px;
    }


}


#fiber {
    padding-top: 20px;
    hr {
        &.overlay-hr {
            margin-top: -27px;
            color: white;
            background-color: white;
        }
    }

    .product-col {
        margin-top: -115px;
    }

    ul.feature-list { 
        right: 0;
        float: right;
        margin-top: -50px;
    }

    .huawei-gpon {
        margin-top: 30px;
    }

    .huawei_s5700-img {
        margin-top: -20px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("/assets/home/huawei_s5700_title.svg");
        height: 70px;
        margin-left: -100px;
    }

    .huawei_gpon-img {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("/assets/home/huawei_gpon_title.svg");
        height: 50px;
    }
}



#provisioning {
    padding-top: 20px;
    hr {
        &.overlay-hr {
            margin-top: -27px;
            color: white;
            background-color: white;
        }
    }

    .product-col {
        margin-top: -80px;
    }

    ul.feature-list { 
        right: 0;
        float: left;
        margin-left: 20px;

        width: 20%;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
    }

    .huawei-gpon {
        margin-top: 30px;
    }

    .huawei_s5700-img {
        margin-top: -20px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("/assets/home/huawei_s5700_title.svg");
        height: 70px;
        margin-left: -100px;
    }

    .huawei_gpon-img {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("/assets/home/huawei_gpon_title.svg");
        height: 50px;
    }

    .more-content {
        margin-top: 0px;
        margin-left: 0px;
    }

    padding-bottom: 20px;

}



.more-content {
        
    padding-top: 10px;
    width: 190px;
    border-radius: 5px;
    height: 25px;
    border: solid 1px $gray-dark;
    cursor: pointer;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 6px;
    text-transform: uppercase;

    a {
        color: $gray-dark;
        &:hover {
            text-decoration: none;
        }
    }

}


#partner {
    background: #fafafa;
    padding-bottom: 80px;


    .title {
        font-size: 20px;
        text-align: center;
        margin-left: -10px;
    }

    hr {
        height: 4px;
        background-color: $gray-dark;
        border: none;
        margin: auto;
        max-width: 120px;
    }

    ul {
        margin-top: 55px;

        img {
            padding-right: 40px;
            position: absolute;
            margin: auto;
            height: 50px;
            
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
    
        a {
            color: $gray-dark !important;
        }
    }

    
}


#about-us {
    margin-top: 0px !important;
    background: #fafafa;
    padding-top: 25px;

    .col {
        text-align: left;
    }

    .subtitle {
        text-align: left;
    }

    .section-content {
        padding: 50px;
        padding-bottom: 10px;

        .col {
            padding: 50px;
            padding-bottom: 10px;
        }

        .img-col {
   
            .img-wrapper {
                width: 100%;
                height: 0;
                padding-bottom: #{((150 / 150) *100%)};
                position: relative;
                max-height: 350px;
                img {
                    width: 100%;
                    max-height: 350px;
                    position: absolute;
                }
            }
            
        }
    
        .who-we-are {
            .title {
                text-align: left;
            }

            .descr {
                text-align: justify;
            }
        }
    }


    .features {
        padding: 50px;
        padding-top: 0;

        .feature {
            padding: 25px;
            text-align: justify;
            ngui-in-view {
                height: 48px;
            }
            img {
                height: 48px;
            }
            
            .feature-title {

            }

            .feature-descr {
                text-align: justify;
            }
        } 
    }
    
}





.contact-banner {
    height: 80px;
    background-color: $orange;

    .contact-us-now {
        color: white;
        margin-top: 21px;
        font-size: 28px;
    }

    .more-content {
        float: right;
        margin-top: -65px;
        color: white;
        border-color: white;
        p {
            color: white;
        }
    }
}

#contact {
    margin-top: 0;  
    padding-top: 0px;
    padding-bottom: 60px;
    background-color: $gray-lighter;
    height: 393px;
    min-height: 50vh;
    margin-bottom: 0;

    .contact-content {
        text-align: left;
        line-height: 3px;

        .head-office-title {
            color: $orange;
        }

        .office-address, .office-contact {
            margin-top: 40px;
            font-size: 16px;
        }
    }

    app-company-location-map {
        position: absolute;
        right: 0px;
        width: calc(50% - 60px);
        margin-top: 0px;
    }
}


ul.feature-list {
    list-style-type: square;
    color: $orange;
    font-size: 14px;
    padding-left: 20px;
    span {
        color: $gray-dark;
    }
    // li::before {content: "•"; color: $orange}
}


@media screen and (max-width: $mobile-break-point) { 

    .home-img-content {
        img {
            width: 100%;
        }
        p {
            width: 100%;
            //margin-left: calc((100vw - 200px) /2);
            position: absolute;
            text-align: center;
        }
        
        .your-partner {
            position: absolute;
            margin-top: -13vw;
            font-size: 12px;
        } 

        .network-solutions {
            margin-top: -8vw;
            font-size: 28px !important;
        }
        .read-more {
            margin-top: -3vw;
            font-size: 12px !important;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 120px;
        }
        
    }

    .home-img-loader {
        top: 80px !important;
    }

    #services { 
        .section-content {

            img, svg {
                width: 25% !important;
            }
        }
        
    }
    #provisioning {
        padding-top: 100px;

        .section-content {
            display: block;

            .cloud-img-wrapper {
                width: 100%;
                margin-left: 0px;
            }

            img {
                display: block;
                width: 100%;
                margin: auto;
            }

            .cloud-col {
                //height: 220px;
                width: 100%;
            }
        }

        .more-content {
            padding-bottom: 20px;
        }
    }

    #team {
        padding: 40px;
    
    
        .vl {
            display: none;
        }
    
        .hl {
            display: none;
        }

        .skills-content {
            display: none;
        }
    
        .person-title {
            span.active {
                color: $gray-light;
            }
        }
    
    }


    #partner {
        .uk-position-relative {
            width: 80%;
            margin-left: 10%;

            // li {
            //     width: 100px;
            //     height: auto;
            // }
        }

        .uk-slider-container {
            margin-top: 80px;
    
            ul.uk-slider-items {
                height: 120px;
                li {
                    padding-top: 30px;
                    width: 33%;
                }
            }
        }
    }
}