@import 'src/style/colors';
@import 'src/style/mobile';

.home-content {
    background-color: #ffffff;
}

.home-img-content {
    p {
        width: 500px;
        margin-left: calc((100vw - 500px) /2);
        position: absolute;
        text-align: center;
        margin-top: -28vw;
        font-size: 45px;
    }

    // http://andyshora.com/css-image-container-padding-hack.html
    .home-img-wrapper {
        width: 100%;
        height: 0;
        padding-bottom: #{((740 / 1366) *100%)}; // img is: 1366x970
        //border: 2px solid red;
        background-color: $gray-lighter;
        position: relative;

        img {
            width: 100%;
            position: absolute;
            filter: blur(4px);

            &.loaded {
                filter: blur(0);
            }
        }
    }

    .home-img-loader {
        position: absolute;
        top: calc(50vh - 20px);
        margin-left: calc(50vw - 26px);
    }
}



#services {

    .section-content {
        margin-left: 0px;
    }
    

    .col {
        text-align: center;
        cursor: pointer;

        &:hover {
            img, svg {
                transform: scale(1.2);
            }
        }

        img, svg {
            width: 35%;
            margin: auto;
            display: block;
            transition: transform .2s;

            &:focus {
                outline: 0;
            }
            
        }
    }

    .scroll-down-content {
        button {
            margin: auto;
            display: block;
            &:focus {
                outline: 0;
            }
        }
        img, svg {
            width: 40px;
            margin: auto;
            display: block;
            margin-top: 70px;
        }
    }
}



#provisioning {
    // height: -webkit-fill-available;
    // background-repeat: no-repeat, repeat;
    // background-image: url('/assets/sections/field_easyprovisioning.svg');
    height: 100%;
    
    padding: 100px 25px 60px;
    
    .section-content {
        .title {
            text-align: left;
        }

        .descr {
            text-align: justify;
        }

        

        .cloud-img-wrapper {
            
            width: calc(100% - 40px);
            height: 0;
            margin-top: 100px;
            margin-left: 50px;
            padding-bottom: #{((122 / 300) *100%)};
            position: relative;

            img {
                width: 100%;
                position: absolute;
            }
        }
    }

    
    
    .more-content {
        button {
            margin: auto;
            display: block;
        }
        padding-bottom: 80px;
    }

    
}


#about-us {
    .col {
        text-align: left;
    }

    .subtitle {
        text-align: left;
    }

    .section-content {
        padding: 50px;
        padding-bottom: 10px;

        .col {
            padding: 50px;
            padding-bottom: 10px;
        }

        .img-col {
   
            .img-wrapper {
                width: 100%;
                height: 0;
                padding-bottom: #{((150 / 150) *100%)};
                position: relative;
                max-height: 350px;
                img {
                    width: 100%;
                    max-height: 350px;
                    position: absolute;
                }
            }
            
        }
    
        .who-we-are {
            .title {
                text-align: left;
            }

            .descr {
                text-align: justify;
            }
        }
    }


    .features {
        padding: 50px;
        padding-top: 0;

        .feature {
            padding: 25px;
            text-align: justify;
            ngui-in-view {
                height: 48px;
            }
            img {
                height: 48px;
            }
            
            .feature-title {

            }

            .feature-descr {
                text-align: justify;
            }
        } 
    }
    
}




#team {
    padding: 260px 25px 260px;
    
    ngui-in-view {
        height: 250px;
    }
    
    .hexagon {
        position: relative;
        background: white;
        height: 250px;

        padding: 4px;
        transition: transform .2s;

        &.selected {
            transform: scale(1.3);
        }
    }


    .hexagon, .hexagon:before, .double:after {
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
    /* Just for demo */

    .hexagon {
        display: inline-block;
        margin: -2px;
    }

    .vl {
        border-left: 6px solid white;
        height: 55px;
        margin: auto;
        display: block;
        width: 0px;
        margin-top: -5px;
    }

    .hl {
        border-top: 6px solid white;
        width: 100%;
        margin-top: -290px;
        margin-left: 50%;
    }

    .person-title {
        span.active {
            color: $gray-light;
        }
    }

    .skills-content {
        margin-top: 60px;

        .skills-title {
            text-align: center;
            font-size: 18px;
            .isPerson {
                color: $gray-light;
            }
        }

        .progressBar {
            margin-bottom: 26px;
            margin-bottom: 1.66em;
        }
        .progressBar p {
            font-size: 16px;
            text-transform: none;
            margin-bottom: 7px;
            margin-bottom: .33em;
            position: absolute;
            margin-top: 7px;
            margin-left: 10px;
            color: white;
        }
        .progressBarcontent-container {
            width: 100%;
            height: 35px;
            background: $gray-lighter;
            overflow: hidden;
        }
        .progressBarValue {
            height: 35px;
            float: left;
            background: $gray-light;
        }
        .value-00 {
            width: 0;
        }
        .value-10 {
            width: 10%;
        }
        .value-20 {
            width: 20%;
        }
        .value-30 {
            width: 30%;
        }
        .value-40 {
            width: 40%;
        }
        .value-50 {
            width: 50%;
        }
        .value-60 {
            width: 60%;
        }
        .value-70 {
            width: 70%;
        }
        .value-80 {
            width: 80%;
        }
        .value-90 {
            width: 90%;
        }
        .value-100 {
            width: 100%;
        }
    }
}


#partner {
    padding-bottom: 80px;

    .uk-slider-container {
        margin-top: 80px;

        ul.uk-slider-items {
            height: 100px;
            li {
                padding-top: 10px;
                width: 20%;
            }
        } 

        img {
            padding-right: 40px;
            position: absolute;
            margin: auto;
            
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }

        a {
            color: $gray-dark !important;
        }
    }
}



#contact {
    padding-top: 48px;
    padding-bottom: 60px;
    background-color: $gray-lighter;
    height: 393px;
    min-height: 50vh;
    margin-bottom: 0;

    .contact-content {
        text-align: left;
        line-height: 3px;

        .head-office-title {
            color: $orange;
        }

        .office-address, .office-contact {
            margin-top: 40px;
            font-size: 16px;
        }
        
    }

    app-company-location-map {
        position: absolute;
        right: 0px;
        width: calc(50% - 60px);
        margin-top: -165px;
    }
}



@media screen and (max-width: $mobile-break-point) { 

    .home-img-content {
        img {
            width: 100%;
        }
        p {
            width: 200px;
            margin-left: calc((100vw - 200px) /2);
            position: absolute;
            text-align: center;
            margin-top: -28vw;
            font-size: 20px;
        }
        
    }

    .home-img-loader {
        top: 80px !important;
    }

    #services { 
        .section-content {

            img, svg {
                width: 25% !important;
            }
        }
        
    }
    #provisioning {
        padding-top: 100px;

        .section-content {
            display: block;

            .cloud-img-wrapper {
                width: 100%;
                margin-left: 0px;
            }

            img {
                display: block;
                width: 100%;
                margin: auto;
            }

            .cloud-col {
                //height: 220px;
                width: 100%;
            }
        }

        .more-content {
            padding-bottom: 20px;
        }
    }

    #team {
        padding: 40px;
    
    
        .vl {
            display: none;
        }
    
        .hl {
            display: none;
        }

        .skills-content {
            display: none;
        }
    
        .person-title {
            span.active {
                color: $gray-light;
            }
        }
    
    }


    #partner {
        .uk-position-relative {
            width: 80%;
            margin-left: 10%;

            // li {
            //     width: 100px;
            //     height: auto;
            // }
        }

        .uk-slider-container {
            margin-top: 80px;
    
            ul.uk-slider-items {
                height: 120px;
                li {
                    padding-top: 30px;
                    width: 33%;
                }
            }
        }
    }
}